<!DOCTYPE html>
<html ng-app="NextMovie">
  <head>
    <title>NextMovie</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Next HCKTRN Movie</a></h1>
        </li>

        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li><a href="#">Login</a></li>
        </ul>
      </section>
    </nav>

    <%= yield %>
  </body>
</html>
